main section#form-city-list form{
    flex-direction: row;  
    gap: 3%;
}

main section#form-city-list form .flex-item select{
    padding: 5px;    
}

main #section-weather-result{
    margin-top: 20px;
}
main #section-weather-result .card{
    text-align: center;
    box-shadow: 0px 0px 10px 1px #000;
    border-radius: 30px;
    max-width: 230px;
}

main #section-weather-result .card p{
    padding-left: 5px;
    padding-right: 5px;
}