body{
    margin: 0px;
}

.navbar{
    background-color: #F6F5FA;
}

.navbar .container-fluid{
    justify-content: flex-start;
}

main section form{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form .form-input{
    margin: 1%;
    box-sizing: border-box;
    width: 90%;
}

form .form-input #tipoUsuario{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

label .form-check-input:checked{
    border-color: green;
    background-color: green;
    box-shadow: 0 0 0 0.25rem rgb(57 253 13 / 45%);
}

.btn-outline-primary {
    color: #00396C;
    border-color: #00396C;
    width: 100%;
}

.btn-outline-primary:hover{
    background-color: #00396C;
    border-color: #00396C;
}

/* Validacion */
.form-input .mensaje-validación{
    font-size: 14px;
    margin-top: 1rem;
}

.form-input .mensaje-error{
    color: red;
}

.form-input .mensaje-exito{
    color: green;
}

.error:focus{
    border-color: red;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(250 0 0 / 49%);
}

.exito:focus{
    border-color: green;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(57 253 13 / 45%);
}

.resultado-section .card{
    margin: 10px;
}

.div_hide {
    opacity: 0;
}